.App {
  /* background-color: #121212; */
  min-height: 100vh;
}
.list-item {
  padding: 5px;
  margin: 5px;
}
.list-count,
.list-heading {
  font-weight: 550;
}
.list-count {
  /* color: grey; */
}
.list-item-container {
  cursor: pointer !important;
}
.list-item-container .MuiDivider-root{
  margin: 2px 0 !important;
}
.list-item-container:hover {
  background-color: rgb(53, 46, 46);
}
.App .MuiPaper-root {
  background-color: black;
  opacity: .9;
  color: white;
}
.color-flex {
  display: flex;
}
.color-flex > * {
  flex: 1;
}
.axis-flex {
  display: flex;
  text-align: center;
}
.axis-flex > * {
  flex: 1;
}
.MuiInput-underline {
  border-bottom:1px solid white !important;
}
.MuiInput-underline input{
  color: white !important;
}
.MuiFormLabel-root {
  color: white !important;
}









::-webkit-scrollbar {
  width: 5px;
  /* border-radius: 10px 0 10px 0; */
}
::-webkit-scrollbar:horizontal{
  /* display: none; */
  height: 8px;
}


/* Track */
::-webkit-scrollbar-track {
  width: 8px;
  background-color: black;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: brown;
}
