.App{
  background-color: #121212;
  min-height: 100vh;
}
.list-item{
  padding: 5px;
  margin: 5px;
}
.list-count,.list-heading{
  font-weight: 550;
}
.list-count{
  color: grey;
}
.App .MuiPaper-root{
  background-color: #484848;
  color: white;
}