.main {
  display: flex;
  /* background-color: black; */
}
.main > * {
  flex: 1;
  text-align: center;
}
.main .count {
  font-size: 36px;
  font-weight: bold;
  /* color: white; */
}

.main .heading {
  /* color: white; */
  font-size: 24px;

}
.infected,
.active,
.recovered,
.deaths {
  padding: 15px;
  border: 1px solid black;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  
}
.infected {
  background-color: #f3cccc;
  border-color: #f3cccc;
}
.active {
  background-color: #cff8da;
  border-color: #F0FFF4;
}
.recovered {
  background-color: #d3e6f8;
  border-color: #EDF2F7;
}
.deaths {
  border-color: #f59999;
  background-color: #f59999;
}
